.page-header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.logo-link {
    margin-left: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-header {
    display: flex;
    background: #10BBD5; 
    align-items: center;
}

.logo-text-link {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}

.balance {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.cart-icon-btn {
   
    background-image: url(../img/cart_icon.svg);
    width: 33px;
    height: 34px;
    margin-right: 52px;
}

.cart-text {
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    line-height: 10px;
    position: relative;
    left: 17px;
    bottom: 3px;
}

.menu-header {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.category {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    margin-left: 52px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navigation-menu {
    margin-left: auto;
    margin-right: 52px;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-item-link {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
}

.products {
    background-color:#EEEEEF; 
}

.container {
    width: 1296px;
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    margin-left: auto;
    margin-right: auto;
    gap: 32px 24px;
}

.product-title {
    padding-top: 132px;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; 
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 23px;
    grid-column: 1/5;
}

.card {
    background-color: #fff;
    padding: 32px;
    position: relative;
}

.book {
    margin-left: 32px;
    
}

.book-name {
    margin-top: 16px;
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    border-top: 1px solid #A8A8A8;
}

.price {
    margin-top: 8px;
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.full-price {
    position: absolute;
    margin-top: 8px;
    color: #8E8E8E;
    margin-left: 88px;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
    text-decoration: line-through; 
}

.button {
    margin-top: 16px;
    text-align: center;
    border: 1px solid #4C394E;
    background-color: #4C394E;
    padding: 8px 24px;
    color: #fff;
    min-width: 242px;
}

.btn {
    background-color: #4D762D;
    border: 1px solid #4D762D;
}

.icon-chat-button {
    position: fixed;
    top: 693px;
    margin-left: 1258px;
    width: 64px;
    height: 64px; 
    z-index: 2;
}

.offer {
    padding: 4px 8px;
    border: 1px solid #4200ff;
    width: 36px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #4200ff;
    position: absolute;
}

.accent {
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;
    width: 47px;
    height: 32px;
    border: 1px solid #AF39E7;
    background-color: #AF39E7;
    border-radius: 4px;
    position: absolute;
}

.discount {
    width: 70px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #EA33C0; 
    border: 1px solid #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
}

.footer-content-block {
    display: flex;
    justify-content: space-between;
    background-color: #4c394e;
}

.sale {
    position: absolute;
    left: 72px;
}

.offer-for-sale {
    position: absolute;
    left: 83px;
}

.footer-text {
    margin-left: 52px;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    padding: 32px 0;
    margin-right: 52px;
}