.page-header {
    width: 1440px;
    border-bottom: 2px solid #f8f7fb;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #22202E;
    font-size: 24px;
    line-height: normal; 
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 80px;
}

.header-menu {
    width: 702px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.header-menu-item {
    padding-top: 29px;
    padding-bottom: 29px;
}

.header-menu-link {
    color: #726E8D;
    font-size: 16px;
    line-height: normal; 
}

.icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-item-link-search {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/search.png);
}

.icon-item-link-shop {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/shopping-cart.png);
}

.icon-item-link-user {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/user-avatar.png);
    margin-right: 80px;
}

.main-content {
    width: 1440px;
}

.products-title {
    margin-top: 80px;
    color: #2A254B;
    font-size: 36px;
    line-height: 140%; 
    text-align: center;
}

.main-container {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
    margin-top: 24px;
    padding:  8px 24px 8px 24px;
}

.filters {
    padding: 12px 24px 12px 24px;
    color: #2A254B;
    font-size: 16px;
    line-height: 150%;
    appearance: none;
    overflow: hidden;
    background: url('../img/caret-down.png') no-repeat right;
}

.filters-text {
    margin-left: 417px;
    color: #2A254B;
    font-size: 14px;
    line-height: 150%;
}

.products-section {
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.card {
    width: 305px;
    margin-top: 28px;
}

.product-name {
    margin-top: 24px;
    color: #2A254B;
    font-size: 20px;
    line-height: 140%;
}

.price {
    margin-top: 8px;
}

.block-button {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 48px;
    border: 1px solid #F9F9F9;
    background-color: #F9F9F9;
    padding: 16px 32px 16px 32px;
    color: #2A254B;
    font-size: 16px;
    line-height: 150%;
}

.offer {
    background-image: url('../img/hall.png');
    background-repeat: no-repeat;
    background-size: 50%; 
    display: grid;
    grid-template-columns: 720px 720px;
    margin-top: 40px;
    height: 521px;
}

.wrapper {
   grid-column: 2 / 2;
}

.slogan {
    color: #2A254B;
    font-size: 32px;
    margin-top: 71px;
    margin-left: 49px;
}

.description {
    color: #2A254B;
    font-size: 16px;
    line-height: 150%;
    margin-top: 21px;
    margin-left: 49px;
    width: 470px;
}

.button {
    color: #FFF;
    font-size: 16px;
    line-height: 150%;
    background: #2A254B;
    padding: 16px 32px 16px 32px;
    margin-top: 216px;
    margin-left: 72px;
}

.footer-page {
    width: 1440px;
}

.footer-menu {
    border: 1px solid #2a254b;
    background-color: #2a254b;
    padding: 58px 82px 0 80px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4E4D93;
    padding-bottom: 48px;
}

.footer-navigation-menu {
    display: flex;
    gap: 100px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-list-item-link {
    color: #fff;
    font-size: 14px; 
}

.footer-list-link-accent {
    font-size: 16px;
}

.copyright {
    color:  #FFF;
    font-size: 14px;
}

.social-media-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkedin-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--linkedin.svg);
}

.facebook-link {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/logo--facebook.svg);
}

.instagram-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--instagram.svg);
}

.skype-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--skype.svg);
}

.twitter-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--twitter.svg);
}

.pinterest-link {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--pinterest.svg);
}

.bottom-container {
    margin-top: 24px;
    margin-bottom: 25px;
}