ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.tabs {
  display: flex;
  position: fixed;
  top: 16px;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color:#e2b977 ;
  color: #23201D;
}

/* .tabs {
  display: flex;
  list-style: none;
  padding: 0;
}

.tabs-title {
  padding: 10px;
  margin: 0;
  background-color: #eee;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #ccc;
}

.tabs-content li {
  display: none;
}

.tabs-content li.active {
  display: block;
} */