html {
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    margin-top: 63px;
}

.header-logo {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 99px;
}

.accent {
    color: #4bcaff;
}

.navigation-menu {
    background-color: #35444F;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.main-menu {
    display: flex;
    justify-content: center;
}

.main-menu-item {
    padding: 24px 32px 18px 32px;
    border-left: 1px solid #fff;
}

.main-menu-item-last {
    border-right: 1px solid #fff;
}

.main-menu-link {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.main-content {
    display: flex;
    margin-top: 49px;
}

.side-bar-menu {
    margin-left: 100px;
}

.side-bar {
    border: 1px solid #c3c3c3;
    width: 344px;
}

.side-bar-item {
    padding-left: 42px;
    padding-top: 22px;
    padding-bottom: 30px;
}

.side-bar-link {
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.main-article {
    margin-right: 100px;
    margin-left: 52px;
}

.container {
    width: 885px;
    border: 1px solid #c3c3c3;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.content {
    margin-top: 37px;
    width: 885px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.description {
    margin-top: 13px;
}

.page-footer {
    margin-top: 54px;
    display: flex;
    background-color: #63696E7A;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-menu {
    display: flex;
    padding-left: 40px;
    width: 875px;
    gap: 30px;
}

.footer-menu-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-menu-link {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer-content {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:135px;
}

.main-menu :hover {
    background-color: #222f3a;
}

.side-bar :hover {
    color: #000;
    background-color: #DBDBDB;
    padding-left: 0;
    text-align: center;
}

.container :hover {
    transform: scale(1.1);
}

.footer-menu-item :hover {
    color: #3181A6; 
    text-decoration: underline;
}