.page-header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.section-top-header {
    background-color: #10BBD5;
}

.section-down-header {
    background-color: #FFF;
}

.card-section {
    background-color: #EEEEEF; 
    padding-top: 140px;
    padding-bottom: 120px;
}