body {
    margin: 0;
}

/* ! Header-content ! */

.main-navigation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main-menu {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-menu-item {
    display: inline;
    margin-right: 72px;
}

.main-item-last {
    margin-right: 0;
}

.main-menu-link {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

/* ! Main content ! */

.container {
    width: 856px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 88px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600; 
}

.text {
    color: #141313;
    padding-left: 25px;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600; 
}

.accent {
    color: #04959e;
}

.btn {
    border: 1px solid #04959e;
    padding: 10px 24px 10px 24px;
    background-color: #04959e;
    color: #fff;
    margin-top: 40px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* ! Footer content ! */

.page-footer {
    margin-top: 88px;
    width: 100%;
    border-top: 1px solid #000;
}

.footer-title {
    text-align: center;
}