.graphics-section {
    background: #202020; 
    padding-top: 82px;
    padding-bottom: 138px;
    @media (max-width:641px) {
        height: 1260px;
    }
}

.graphics-section__title {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;
    position: relative;
    @media (max-width:970px) {
        font-size: 70px;
    }

    @media (max-width:760px) {
        font-size: 60px;
    }

    @media (max-width:710px) {
        font-size: 45px;
        margin-left: 31px;
    }

    @media (max-width:675px) {
        font-size: 36px;
    }

    @media (max-width:555px) {
        margin-left: 53px;
    }

    @media (max-width:520px) {
        margin-left: 73px;
    }

    @media (max-width:475px) {
        margin-left: 100px;
    }

    @media (max-width:428px) {
        margin-left: 121px;
    }

    @media (max-width:395px) {
        margin-left: 130px;
    }
}

.graphics-section__card {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    position: relative;
    @media (max-width:1170px) {
        width: 900px;
    }

    @media (max-width:970px) {
        width: 704px;
        height: 414px;
    }

    @media (max-width:760px) {
        width: 664px;
        height: 360px;
    }

    @media (max-width:710px) {
        width: 645px;
        height: 325px;
        margin-left: 32px;
        margin-right: 32px;
    }

    @media (max-width:675px) {
        width: 615px;
    }

    @media (max-width:641px) {
        width: 580px;
    }

    @media (max-width:605px) {
        width: 540px;
    }

    @media (max-width:573px) {
        width: 520px;
    }

    @media (max-width:555px) {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width:520px) {
        width: 450px;
    }

    @media (max-width:475px) {
        width: 400px;
    }

    @media (max-width:428px) {
        width: 365px;
    }

    @media (max-width:395px) {
        width: 343px;
    }

    &--soft-star{
        &::after{
        background: url(../../images/soft-star.png) no-repeat;
        position: absolute;
        z-index: 2;
        content: "";
        display: block;
        width: 268px;
        height: 268px;
        left: 410px;
        top: 67px;
        @media (max-width:1170px) {
            background-size: 227px 227px;
            left: 337px;
            top: 101px;
        }

        @media (max-width:970px) {
            background-size: 227px 227px;
            left: 239px;
            top: 99px;
        }
        @media (max-width:760px) {
            left: 217px;
            top: 68px;
        }
        @media (max-width:710px) {
            left: 208px;
            top: 48px;
        }
    
        @media (max-width:675px) {
            left: 192px;
            top: 48px;
        }
    
        @media (max-width:641px) {
            left: 175px;
            top: 48px;
        }
    
        @media (max-width:605px) {
            left: 155px;
            top: 48px;;
        }
    
        @media (max-width:573px) {
            left: 147px;
            top: 48px;
        }
    
        @media (max-width:555px) {
            left: 135px;
            top: 48px;
        }
    
        @media (max-width:520px) {
            left: 113px;
            top: 48px;
        }
    
        @media (max-width:475px) {
            left: 88px;
            top: 48px;
        }
    
        @media (max-width:428px) {
            left: 71px;
            top: 48px;
        }
    
        @media (max-width:395px) {
            left: 58px;
            top: 48px;
        }
    }
}
}


.graphics-section__cards {
    position: relative;
    display: block;
    @media (max-width:605px) {
        width: 540px;
        height: 325px; 
        margin-top: 20px;  
    }

    @media (max-width:573px) {
        width: 520px;
    }

    @media (max-width:555px) {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width:520px) {
        width: 450px;
    }

    @media (max-width:475px) {
        width: 400px;
    }

    @media (max-width:428px) {
        width: 365px;
    }

    @media (max-width:395px) {
        width: 343px;
    }
    &--butterfly {
        &::after{
        background: url(../../images/butterfly.png) no-repeat;
        position: absolute;
        content: "";
        z-index: 2;
        display: block;
        width: 187px;
        height: 192px;
        top: 111px;
        left: 164px;
        @media (max-width:1170px) {
            background-size: 147px 151px;
            left: 148px;
            top: 85px;
        }

        @media (max-width:970px) {
            left: 95px;
            top: 87px;
        }

        @media (max-width:760px) {
            left: 84px;
            top: 85px;
        }
        @media (max-width:710px) {
            left: 81px;
            top: 86px;
        }
    
        @media (max-width:675px) {
            left: 75px;
            top: 90px;
        }
    
        @media (max-width:641px) {
            left: 65px;
            top: 90px;
        }
    
        @media (max-width:605px) {
            left: 196px;
            top: 90px;
        }
    
        @media (max-width:573px) {
            left: 188px;
            top: 90px;
        }
    
        @media (max-width:555px) {
            left: 177px;
            top: 90px;
        }
    
        @media (max-width:520px) {
            left: 153px;
            top: 90px;
        }
    
        @media (max-width:475px) {
            left: 128px;
            top: 90px;
        }
    
        @media (max-width:428px) {
            left: 113px;
            top: 90px;
        }
    
        @media (max-width:395px) {
            left: 100px;
            top: 90px;
        }
    
    }
}

    &--asterics {
        &::after {
        content: "";
        position: absolute;
        z-index: 2;
        display: block;
        width: 233px;
        height: 225px;
        top: 94px;
        left: 141px;
        background: url(../../images/asterisk-1.png) no-repeat;
        @media (max-width:1170px) {
            background-size: 183px 177px;
            left: 130px;
            top: 66px;
            }
            @media (max-width:970px) {
                left: 75px;
                top: 74px;
            }
            @media (max-width:760px) {
                left: 67px;
                top: 68px;
            }
            @media (max-width:710px) {
                left: 65px;
                top: 68px;
            }
        
            @media (max-width:675px) {
                left: 58px;
                top: 68px;
            }
        
            @media (max-width:641px) {
                left: 51px;
                top: 68px;
            }
        
            @media (max-width:605px) {
                left: 181px;
                top: 68px;
            }
        
            @media (max-width:573px) {
                left: 172px;
                top: 68px;
            }
        
            @media (max-width:555px) {
                left: 162px;
                top: 68px;
            }
        
            @media (max-width:520px) {
                left: 137px;
                top: 68px;
            }
        
            @media (max-width:475px) {
                left: 112px;
                top: 68px;
            }
        
            @media (max-width:428px) {
                left: 97px;
                top: 68px;
            }
        
            @media (max-width:395px) {
                left: 81px;
                top: 68px;
            }
        }
    }
}

.graphics-card-blocks {
    margin-top: 26px;
    display: flex;
    gap: 26px;
    justify-content: center;
    @media (max-width:1170px) {
        width: 900px;
        height: 325px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width:970px) {
        width: 704px;
    }

    @media (max-width:760px) {
        width: 664px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width:710px) {
        width: 645px;
        margin-left: 32px;
        margin-right: 32px;
    }

    @media (max-width:675px) {
        width: 615px;
    }

    @media (max-width:641px) {
        width: 580px;
    }

    @media (max-width:605px) {
        width: 545px;
        display: block;  
        width: 540px;
        margin-top: 12px;
    }
 }

.graphics-img {
    @media (max-width:605px) {
        width: 540px;
        height: 325px;
    }
}