.project-apps-section {
    background: #3C3C3C; 
    padding-top: 86px;

    @media (max-width: 774px) {
        padding-top: 52px;
    }
}

.project-apps-section__project-card-link {
    padding: 20px;
    background-color: #fff;
    position: relative;
    display: block;
    width: 325px;
    border-radius: 24px; 
    @media (max-width: 1150px) {
        width: 275px;
    }

    @media (max-width: 970px) {
        width: 333px;
        height: 700px;
    }

    @media (max-width: 774px) {
        width: 304px;
    }

    @media (max-width: 718px) {
        width: 279px;
        height: 614px;
    }

    @media (max-width: 672px) {
        width: 253px;
        height: 565px;
        padding: 16px;
  }

  @media (max-width: 595px) {
    width: 457px;
    height: 549px;
}

@media (max-width: 500px) {
    width: 343px;
    height: 518px;
}

    &--size {
    width: 1050px;
    padding: 20px 24px;

    @media (max-width: 1150px) {
        width: 900px;
       
    }

    @media (max-width: 970px) {
        width: 703px;
        height: 493px;
        
    }

    @media (max-width: 774px) {
        width: 650px;
        height: 467px;
        
    }

    @media (max-width: 718px) {
        width: 600px;
        height: 485px;
    }

    @media (max-width: 672px) {
        width: 547px;
        height: 553px;
    }
    @media (max-width: 595px) {
        width: 457px;
        height: 482px;
    }
    @media (max-width: 500px) {
        width: 457px;
        height: 604px;
    }

    @media (max-width: 500px) {
        width: 343px;
        height: 488px;
      }
    }

    &--tablet {
        @media (max-width: 970px) {
            display: none;
        }
    }

    &--mobile {
    @media (max-width: 595px) {
        display: none;
    }
}
}

.project-apps-section__card-project-block {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 3;
    width: 56px;
    height: 56px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.projects-img-large {
    border-radius: 13px;
    @media (max-width: 672px) {
        width: 500px;
        height: 400px;
  }
  @media (max-width: 500px) {
    width: 311px;
    height: 278px;
  }
  
  @media (max-width: 595px) {
    height: 278px;
    width: 418px;
}
    }

    .project-apps-section__project-name {
        margin-top: 20px;
        color: #565656;
        font-family: DynaPuff;
        font-weight: 700; 
        font-size: 32px; 
        @media (max-width: 672px) {
            font-size: 28px;
        }
    
        @media (max-width: 500px) {
            font-size: 24px;
        }
    
        &--size-weight {
            font-size: 40px;
            font-weight: 600;
        
            @media (max-width: 672px) {
                font-size: 32px;
            }
        }
    }
    
    .project-apps-section__project-descr {
        margin-top: 22px;
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        display: block;
    
        @media (max-width: 672px) {
            font-size: 15px;
        }
    
        &--size-weight {
            font-weight: 700;
            width: 540px;
        
            @media (max-width: 672px) {
                width: 442px;
            }
        
            @media (max-width: 595px) {
                width: 418px;
            }
        
            @media (max-width: 501px) {
                width: 329px;
            }
        }
    }

    .project-apps-section__project-card {
        display: flex;
        gap: 40px;
        margin-top: 63px;
        justify-content: center;
        padding-bottom: 86px;
    }

    .projects-img {
        border-radius: 13px;
        @media (max-width: 970px) {
            width: 293px;
            height: 448px;
        }
    
        @media (max-width: 774px) {
            width: 407px;
        }
    
        @media (max-width: 718px) {
            width: 293px;
            height: 349px;
      }
    
        @media (max-width: 672px) {
            width: 293px;
            height: 319px;
      }
    
      @media (max-width: 595px) {
        height: 401px;
        width: 418px;
    }
    
     @media (max-width: 500px) {
        height: 345px;
        width: 418px;
      }
    }