.slogan-section {
    background: url(../../images/rectangle-8.jpg) lightgray 50% / cover no-repeat;
    padding: 303px;
    background-size: 100%;
    position: relative;
    height: 800px;
    width: 100vw;
    &::after{
        position: absolute;
        background-color: rgba(0, 0, 0,.5);
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        z-index: 2;
    }
}

.slogan {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
    z-index: 3;
    width: 1059px;
    @media (max-width:1080px) {
        margin-left: 32px;
        margin: 32px;
        width: 920px;
    }

    @media (max-width:945px) {
        width: 868px;
    }

    @media (max-width:880px) {
        width: 851px;
    }

    @media (max-width:820px) {
        width: 717px;
    }

    @media (max-width:740px) {
        width: 667px;
        font-size: 40px;
    }

    @media (max-width:694px) {
        font-size: 36px;
        width: 589px;
        // margin-left: auto;
        // margin-right: auto;
    }
    @media (max-width:624px) {
        font-size: 32px;
        width: 525px;
    }

    @media (max-width:605px) {
        font-size: 30px;
        width: 500px;
    }

    @media (max-width:590px) {
        width: 490px;
        margin-right: 82px;
    }

    @media (max-width:555px) {
        width: 400px;
        margin-right: 127px;
    }

    @media (max-width:520px) {
        font-size: 28px;
        width: 400px;
        margin-right: 165px;
    }

    @media (max-width:485px) {
        font-size: 26px;
        width: 355px;
        margin-right: 185px;
    }

    @media (max-width:465px) {
        width: 355px;
        margin-right: 238px;
    }

    @media (max-width: 415px) {
        width: 355px;
        margin-right: 278px;
        font-size: 26px;
    }

    @media (max-width: 389px) {
        width: 343px;
        margin-right: 292px;
        font-size: 24px;
    }
}