.container {
    padding-left: 52px;
    padding-right: 52px;
}

.section-top-header__container {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-top-header__balance-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-down-header__container {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card-section__conteiner {
    width: 1296px;
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    margin-left: auto;
    margin-right: auto;
    gap: 32px 24px;
}

.card {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #a8a8a8;
    position: relative;
}

.theme {
    padding: 5px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.card__block-badge {
    position: absolute;
    display: flex;
    z-index: 2;
    gap: 4px;
}

.page-footer__container {
    background-color: #4C394E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 32px;
}

.header-btn {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    line-height: 10px;
    padding-left: 16px;
    padding-bottom: 7px;
    background-image: url('../images/cart_icon.svg');
    background-size: 34px 34px;
    width: 34px;
    height: 34px;
    z-index: 2;
}

.card__button {
    margin-top: 16px;
    text-align: center;
    padding: 8px 24px;
    color: #fff;
    min-width: 242px;
    border-radius: 4px;
}

.card__button--violet{
    border: 1px solid #4C394E;
    background-color: #4C394E;
}

.card__button--green {
    background-color: #4D762D;
    border: 1px solid #4D762D;
}

.icon-chat-button {
    width: 64px;
    height: 64px;
    position: fixed;
    margin-left: 1258px;
    z-index: 2;
    top: 696px;
}

.section-top-header__logo {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav-menu__link {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.section-top-header__balance {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.section-down-header__category {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.card__book-name {
    margin-top: 16px;
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.card__author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-top: 1px solid #A8A8A8;
}

.card__full-price {
    position: absolute;
    margin-top: 8px;
    color: #8E8E8E;
    margin-left: 88px;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
    text-decoration: line-through; 
}

.card__price {
    margin-top: 8px;
    color: #E90000;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.block-badge__offer {
    color: #F8FDFE;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;
}

.block-badge__offer--blue {
    background: #4200FF; 
    border-radius: 4px;
}

.block-badge__offer--pink {
    border-radius: 4px;
    background: #EA33C0; 
}

.block-badge__offer--violet {
    border-radius: 4px;
    background: #AF39E7; 
}

.page-footer__text {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.card__book {
    width: 178px;
    height: 280px; 
    margin-left: 32px;
}

.card-section__title {
    color: #1F1F1F;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
    grid-column: 1/5;
}

.page-header {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.section-top-header {
    background-color: #10BBD5;
}

.section-down-header {
    background-color: #FFF;
}

.card-section {
    background-color: #EEEEEF; 
    padding-top: 140px;
    padding-bottom: 120px;
}

.dark-theme {
    background-color: #000;
    color: #fff;
}

.dark-theme .card {
    background-color: #a8a8a8;
}

.dark-theme .card__author,
.dark-theme .card__full-price {
    color: #fff;
}