.header-btn {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    line-height: 10px;
    padding-left: 16px;
    padding-bottom: 7px;
    background-image: url('../../images/cart_icon.svg');
    background-size: 34px 34px;
    width: 34px;
    height: 34px;
    z-index: 2;
}

.card__button {
    margin-top: 16px;
    text-align: center;
    padding: 8px 24px;
    color: #fff;
    min-width: 242px;
    @include border-radius(4px);

    &--violet {
        border: 1px solid #4C394E;
        background-color: #4C394E;
    }
    
    &--green {
        background-color: #4D762D;
        border: 1px solid #4D762D;
    }
}

.icon-chat-button {
    width: 64px;
    height: 64px;
    position: fixed;
    margin-left: 1258px;
    z-index: 2;
    top: 696px;
}