.section-top-header__logo {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav-menu__link {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}