$text-color: #000;

.section-top-header__balance {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.section-down-header__category {
    color: $text-color;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.card__book-name {
    margin-top: 16px;
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.card__author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-top: 1px solid #A8A8A8;
}

.card__full-price {
    position: absolute;
    margin-top: 8px;
    color: #8E8E8E;
    margin-left: 88px;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
    text-decoration: line-through; 
}

.card__price {
    margin-top: 8px;
    color: #E90000;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.block-badge__offer {
    color: #F8FDFE;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;

    &--blue {
        background: #4200FF; 
        @include border-radius(4px);
    }

    &--pink {
        background: #EA33C0; 
        @include border-radius(4px);
    }
    
    &--violet {
        background: #AF39E7; 
        @include border-radius(4px);
    }
}

.page-footer__text {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 24px;
}