.container {
    padding-left: 52px;
    padding-right: 52px;
}

.section-top-header__container {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-top-header__balance-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-down-header__container {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card-section__conteiner {
    width: 1296px;
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    margin-left: auto;
    margin-right: auto;
    gap: 32px 24px;
}

.card {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #a8a8a8;
    position: relative;
}

.card__block-badge {
    position: absolute;
    display: flex;
    z-index: 2;
    gap: 4px;
}

.page-footer__container {
    background-color: #4C394E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 32px;
}